table {
  border-collapse: collapse;
}
.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: rgba(0, 0, 0, 0);
  text-align: left;

  &.smaller {
    font-size: 0.72rem;
  }

  thead th {
    border-bottom-color: rgba(255, 255, 255, 0.05);
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: bold;
    letter-spacing: 0.1rem;
  }

  tr {
    &.positive {
      background: lighten(rgb(57, 203, 88), 40%);
    }
    &.negative {
      background: lighten(rgb(255, 31, 31), 40%);
    }
  }
  td {
    border-color: rgba(159, 172, 199, 0.12);
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.05rem;
  }
  &.table-compact th,
  &.table-compact td {
    padding: 0.3rem 0.45rem;
  }
}

.text-faded {
  color: rgba(90, 99, 126, 0.49);
}
