:root {
  --primary: "#794025";
  --secondary: "";
  --dark: "#1B252D";
  --success: "#66CD7D";
  --failure: "#E44F5C";

  --card-primary: "#20313F";
  --card-highlight: "#03101B";

  --background: "#03111C";
}
