$primary: #9a48f4;
$secondary: #4b2bde;
$dark: #1b252d;
$success: #66cd7d;
$failure: #e44f5c;

$card-primary: #20313f;
$card-highlight: #03101b;

$background-default: #03111c;
$text-bright: #ffffff;
$text-danger: rgb(230, 82, 82) !important;
